## Assignment Week 6: Movie Ratings
Collect movies ratings on at least 6 movies by at least 5 people into a database.
1. Load the ratings by user information that you collected into a pandas dataframe.
2. Show the average ratings for each user and each movie.
3. Create a new pandas dataframe, with normalized ratings for each user. Again, show the average ratings for each user and each movie.
4. Provide a text-based conclusion: explain what might be advantages and disadvantages of using normalized ratings instead of the actual ratings.

### Create a pandas dataframe from the movie ratings.

In [2]:
import pandas as pd
import numpy as np

ratings = pd.read_csv('movies.csv', index_col = 0)
ratings

                 Jesse  Ryan  Julie  Anna  Katie  Joe
Jumanji            5.0   NaN      2     4      4  5.0
Justice League     2.0   3.0      5     5      1  1.0
The Lion Guard     1.0   1.0      4     3      3  5.0
Pitch Perfect 3    NaN   2.0      5     1      4  NaN
Wonder Woman       NaN   3.0      4     3      2  1.0
Baby Driver        4.0   5.0      3     4      5  5.0

### Fill empty values with zeros

In [3]:
ratings.fillna(value=0, inplace=True)
ratings

                 Jesse  Ryan  Julie  Anna  Katie  Joe
Jumanji            5.0   0.0      2     4      4  5.0
Justice League     2.0   3.0      5     5      1  1.0
The Lion Guard     1.0   1.0      4     3      3  5.0
Pitch Perfect 3    0.0   2.0      5     1      4  0.0
Wonder Woman       0.0   3.0      4     3      2  1.0
Baby Driver        4.0   5.0      3     4      5  5.0

### Show the average ratings by movie.

In [21]:
avg = ratings.mean(axis = 1)
avg

Jumanji            3.333333
Justice League     2.833333
The Lion Guard     2.833333
Pitch Perfect 3    2.000000
Wonder Woman       2.166667
Baby Driver        4.333333
dtype: float64

### Show the average ratings by user.

In [5]:
ratings.mean()

Jesse    2.000000
Ryan     2.333333
Julie    3.833333
Anna     3.333333
Katie    3.166667
Joe      2.833333
dtype: float64

### Create a new pandas dataframe, with normalized ratings for each user.

In [6]:
normd = (ratings - ratings.min()) / (ratings.max() - ratings.min())
normd

                 Jesse  Ryan     Julie  Anna  Katie  Joe
Jumanji            1.0   0.0  0.000000  0.75   0.75  1.0
Justice League     0.4   0.6  1.000000  1.00   0.00  0.2
The Lion Guard     0.2   0.2  0.666667  0.50   0.50  1.0
Pitch Perfect 3    0.0   0.4  1.000000  0.00   0.75  0.0
Wonder Woman       0.0   0.6  0.666667  0.50   0.25  0.2
Baby Driver        0.8   1.0  0.333333  0.75   1.00  1.0

### Show the normalized average ratings for each movie.

In [10]:
normd.mean(axis = 1)

Jumanji            0.583333
Justice League     0.533333
The Lion Guard     0.511111
Pitch Perfect 3    0.358333
Wonder Woman       0.369444
Baby Driver        0.813889
dtype: float64

### Show the normalized average ratings for each user.

In [11]:
normd.mean()

Jesse    0.400000
Ryan     0.466667
Julie    0.611111
Anna     0.583333
Katie    0.541667
Joe      0.566667
dtype: float64

By normalizing the ratings, we have adjusted the values to a notionally common scale, in order to reduce data redundancy and improve data integrity. Normalization often makes indexing easier, and accounts for outliers and duplicates.